web:
  build: .
  volumes:
    - .:/var/www/html
  env_file: 
    - .env
  ports:
    - "8080:80"
  expose:
    - "8080"
  links:
    - postgres
    - redis
postgres:
  image: postgres:9.3
  ports:
    - "5432:5432"
  env_file: 
    - .env
redis:
  image: redis:3.0
  ports:
    - "6379:6379"
